* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  background-image: -webkit-linear-gradient(
    50deg,
    #000 50%,
    rgba(255, 0, 0, 0.411) 50%
  );
}

.container h1 {
  color: #fff;
  font-size: 70px;
}

.container h2 {
  padding-top: 1em;
  margin: 0 10% 0 10%;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}
